/**
 * Syntax highlighting styles
 */

/* ==========================================================================
   SCSS Variables
   ========================================================================== */

/* 
   Page
   ========================================================================== */

$feature-image-height            : 400px; // min 150px recommended
$front-page-feature-image-height : 400px; // min 150px recommended

/* 
   Typography
   ========================================================================== */

$base-font                       : 'Lato', Calibri, Arial, sans-serif;
$heading-font                    : $base-font;
$caption-font                    : $base-font;
$code-font                       : monospace;
$alt-font                        : serif;

$doc-font-size                   : 16;
$doc-line-height                 : 26;


// set-up the body font-size / line-height
body {
  margin-top: 0px + $doc-line-height;
  font-size: 0px + $doc-font-size;
}

/* 
   Colors
   ========================================================================== */

$base-color                      : rgba(#222,0.8);
$body-color                      : #e8e8e8;
$text-color                      : rgba(#222,0.8);
$comp-color                      : complement(#222);
$border-color                    : lighten($base-color,60);
$link-color                      : rgba(#222,0.8);

$primary                         : #222;
$success                         : #5cb85c;
$warning                         : #dd8338;
$danger                          : #C64537;
$info                            : #308cbc;


/* 
   Screen sizes
   ========================================================================== */

$small                           : "only screen and (min-width: 30em)";
$medium                          : "only screen and (min-width: 48em)";
$large                           : "only screen and (min-width: 62.5em)";

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

/* Webkit-style focus */
@mixin tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Center-align a block level element */

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 
   Typography mixins
   ========================================================================== */

/* Full-fat vertical rhythm */
@mixin font-size($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $doc-font-size;
  line-height: 0 + round($doc-line-height / $size*10000) / 10000;
  margin-bottom: 0px + $doc-line-height;
  margin-bottom: 0rem + ($doc-line-height / $doc-font-size);
}

/* Just the REMs */
@mixin font-rem($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $doc-font-size;
}

/* Just font-size and line-height */
@mixin font($size) {
  font-size: 0px + $size;
  font-size: 0rem + $size / $doc-font-size;
  line-height: 0 + round($doc-line-height / $size*10000) / 10000;
}

/* Ellipsis */
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

/* 
   Visibility
   ========================================================================== */

/* For image replacement */
@mixin hide-text() {
  text-indent : 100%;
  white-space : nowrap;
  overflow : hidden; 
}

/* Hide from visual and speaking browsers */
@mixin hidden() {
  display : none !important; 
  visibility : hidden; 
}
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide but maintain layout */
@mixin invisible() { 
  visibility : hidden; 
}

/* Hidden but available to speaking browsers */
@mixin visuallyhidden() { 
  overflow : hidden; 
  position : absolute;
  clip : rect(0 0 0 0); 
  height : 1px; 
  width : 1px;
  margin : -1px; 
  padding : 0; 
  border : 0; 
}

/* Make visuallyhidden focusable with a keyboard */
.visuallyhidden.focusable:active, 
.visuallyhidden.focusable:focus { 
  position : static;
  clip : auto; 
  height : auto; 
  width : auto;
  margin : 0; 
  overflow: visible; 
}

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1.5em;
  color: #d0d0d0;
  @include font-rem(12);
  line-height: 1.5;
  border: 1px solid darken($body-color, 5);
  border-radius: 3px;
  background-color: #272822;

  .highlight {
    margin: 0;
    padding: 1em;
  }
}

figure.highlight {
  padding-left: 1em;
  padding-right: 1em;
}

.highlight table {
  font-size: 1em;
  border: 0;

  td {
    padding: 5px;
    border: 0;

    // line numbers
    &.gutter {
      padding-right: 1em;
      color: #ccc;
    }
  }

  pre {
    margin: 0;
  }
}

.highlight pre { width: 100%; }

.highlight {	

	.lineno { padding-right: 24px; color: #8f908a;}
	.hll { background-color: #49483e }
	.c { color: #75715e } /* Comment */
	.err { color: #960050; background-color: #1e0010 } /* Error */
	.k { color: #66d9ef } /* Keyword */
	.l { color: #ae81ff } /* Literal */
	.n { color: #f8f8f2 } /* Name */
	.o { color: #f92672 } /* Operator */
	.p { color: #f8f8f2 } /* Punctuation */
	.cm { color: #75715e } /* Comment.Multiline */
	.cp { color: #75715e } /* Comment.Preproc */
	.c1 { color: #75715e } /* Comment.Single */
	.cs { color: #75715e } /* Comment.Special */
	.ge { font-style: italic } /* Generic.Emph */
	.gs { font-weight: bold } /* Generic.Strong */
	.kc { color: #66d9ef } /* Keyword.Constant */
	.kd { color: #66d9ef } /* Keyword.Declaration */
	.kn { color: #f92672 } /* Keyword.Namespace */
	.kp { color: #66d9ef } /* Keyword.Pseudo */
	.kr { color: #66d9ef } /* Keyword.Reserved */
	.kt { color: #66d9ef } /* Keyword.Type */
	.ld { color: #e6db74 } /* Literal.Date */
	.m { color: #ae81ff } /* Literal.Number */
	.s { color: #e6db74 } /* Literal.String */
	.na { color: #a6e22e } /* Name.Attribute */
	.nb { color: #f8f8f2 } /* Name.Builtin */
	.nc { color: #a6e22e } /* Name.Class */
	.no { color: #66d9ef } /* Name.Constant */
	.nd { color: #a6e22e } /* Name.Decorator */
	.ni { color: #f8f8f2 } /* Name.Entity */
	.ne { color: #a6e22e } /* Name.Exception */
	.nf { color: #a6e22e } /* Name.Function */
	.nl { color: #f8f8f2 } /* Name.Label */
	.nn { color: #f8f8f2 } /* Name.Namespace */
	.nx { color: #a6e22e } /* Name.Other */
	.py { color: #f8f8f2 } /* Name.Property */
	.nt { color: #f92672 } /* Name.Tag */
	.nv { color: #f8f8f2 } /* Name.Variable */
	.ow { color: #f92672 } /* Operator.Word */
	.w { color: #f8f8f2 } /* Text.Whitespace */
	.mf { color: #ae81ff } /* Literal.Number.Float */
	.mh { color: #ae81ff } /* Literal.Number.Hex */
	.mi { color: #ae81ff } /* Literal.Number.Integer */
	.mo { color: #ae81ff } /* Literal.Number.Oct */
	.sb { color: #e6db74 } /* Literal.String.Backtick */
	.sc { color: #e6db74 } /* Literal.String.Char */
	.sd { color: #e6db74 } /* Literal.String.Doc */
	.s2 { color: #e6db74 } /* Literal.String.Double */
	.se { color: #ae81ff } /* Literal.String.Escape */
	.sh { color: #e6db74 } /* Literal.String.Heredoc */
	.si { color: #e6db74 } /* Literal.String.Interpol */
	.sx { color: #e6db74 } /* Literal.String.Other */
	.sr { color: #e6db74 } /* Literal.String.Regex */
	.s1 { color: #e6db74 } /* Literal.String.Single */
	.ss { color: #e6db74 } /* Literal.String.Symbol */
	.bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
	.vc { color: #f8f8f2 } /* Name.Variable.Class */
	.vg { color: #f8f8f2 } /* Name.Variable.Global */
	.vi { color: #f8f8f2 } /* Name.Variable.Instance */
	.il { color: #ae81ff } /* Literal.Number.Integer.Long */
}
